
.homepage {
    background-color:rgba(215, 228, 223, 0.678)
}

.navbar-color {
    background-color: rgb(116, 147, 147);
}

.wallPaper {
    background-image: url('./_f633ead6-a449-42c7-980f-57cf6de58016.jpg');
    background-position-x: right;
    background-attachment: fixed;
    background-size: cover;
}